<div>
  <h3>ubah password</h3>
  password sekarang <input type="text" name="" id=""><br>
  password baru <input type="text" name="" id=""><br>
  retype password <input type="text" name="" id=""><br>
  <input type="button" value="submit" style="float: right;" (click)="expression"><br>
</div>
<br>
<div>
    <h3>ubah kode rahasia</h3>
    kode sekarang <input type="text" name="" id=""><br>
    kode baru <input type="text" name="" id=""><br>
    retype kode <input type="text" name="" id=""><br>
    <input type="button" value="submit" style="float: right;" (click)="expression"><br>
</div>