<a href="#" (click)="toggleRegForm()">buka rekening</a><br><br>
<div [hidden]="!isHidden">
	nama lengkap <input type="text" [(ngModel)]="nama"><br><br>
	email <input type="email" [(ngModel)]="email"><br><br>
	password <input type="password" [(ngModel)]="password"><br> <!-- 8alfa -->
	<span *ngIf="!isPassValid" style="color: red">Password minimal 8 karakter alfanumerik</span><br>
	no ktp <input type="number" [(ngModel)]="ktp"><br><br> 
	tgl lahir <input type="date" [(ngModel)]="tglLahir"><br>
	<span *ngIf="!isTanggalValid" style="color: red">Umur minimal 17 tahun</span><br>
	alamat <input type="text" [(ngModel)]="alamat"><br><br>
	kode rahasia <input type="password" [(ngModel)]="kode"><br> <!-- 6alfa -->
	<span *ngIf="!isKodeValid" style="color: red">Kode minimal 6 karakter alfanumerik</span><br>
	<input type="button" value="submit" (click)="validateForm()">
	<input type="button" value="reset" (click)="resetForm()">
</div>