<div *ngIf="page === 1">
  No rekening <input type="text"><br>
  Jumlah <input type="text"><br>
  Keterangan <input type="text"><br>
  <input type="button" value="submit" style="float: right;" (click)="page=2"><br> <!-- pindah ke konfirmasi -->
</div>
<div *ngIf="page === 2">
    No rekening <span> [norek] </span><br>
    Jumlah <span> [RP. nominal] </span><br>
    Keterangan <span> [Keterangan] </span><br>
    Kode Rahasia <input type="text"><br>
    <input type="button" value="submit" style="float: right;" (click)="page=3"><br> <!-- pindah ke hasil -->
</div>
<div *ngIf="page === 3">
  Transfer <span> [status] </span><br>
  <span> [keterangan] </span><br><br>
  No rekening <span> [norek] </span><br>
  Jumlah <span> [RP. nominal] </span><br>
  Keterangan <span> [Keterangan] </span><br>  
</div>