<div>
  <h3>ubah password</h3>
  password sekarang <input type="password" name="" id=""><br>
  password baru <input type="password" [(ngModel)]="passBaru"><br>
  <span *ngIf="!isPassBaruValid" style="color: red">Password minimal 8 karakter alfanumerik</span><br>
  retype password <input type="password" name="" id=""><br>
  <input type="button" value="submit" style="float: right;" (click)="validatePassword()"><br>
</div>
<br>
<div>
    <h3>ubah kode rahasia</h3>
    kode sekarang <input type="password" name="" id=""><br>
    kode baru <input type="password" [(ngModel)]="kodeBaru"><br>
    <span *ngIf="!isKodeBaruValid" style="color: red">Kode minimal 6 karakter alfanumerik</span><br>
    retype kode <input type="password" name="" id=""><br>
    <input type="button" value="submit" style="float: right;" (click)="validateKode()"><br>
</div>