<div *ngIf="page === 1">
  <h2>Histori Transaksi</h2>
  <input type="date" [(ngModel)]="dariTanggal"> sampai <input type="date" [(ngModel)]="hinggaTanggal"><br>
  <span style="color: red" *ngIf="!isRangeValid">Pilih rentang tanggal maksimal 30 hari yang lalu</span><br>
  <input type="button" value="submit" style="float: right;" (click)="validateRangeTanggal()"><br> <!-- ke hasil -->
</div>
<div *ngIf="page === 2">
  Histori Transaksi<br>
  <span style="color: red"> [tanggal] </span> - <span style="color: red"> [tanggal] </span><br><br>  
  <ul>
    <li>
      <span> [tanggal] </span><br>
      <!--  -->
      <span>transfer ke</span> <span> [norek] </span><br> <!-- atau -->
      <span>pembelian pulsa</span><br>
      <!--  -->
      <span> [keterangan] </span><br>
      <span>[nominal]</span><br>
      <span>[status]</span><br>
    </li>
  </ul>
</div>
